@CHARSET "UTF-8";

#edit-img {
	width: 610px;
	max-height: 1000px;
	overflow: hidden;	
}

#edit-img img{
	position:relative;
	left:0px;
	top:0px;
}

#edit-g .form-item {
	display: inline-block;
}

body.rdfxp-html {
	
}

#rdfxp-model-classes-properties-tabs {
	display: inline-block;
	vertical-align: top;
	/*width: 28%;*/
}

#rdfxp-model-classes-properties-tabs.ui-widget {
	font-size: 87.5%;
}

.block-rdfnav-block .item-list ul,
.item-list ul.rdfxp-item-list,
.item-list ul.rdfxp-item-list ul {
	padding-left:13px;
}

.rdfxp-item-list .rel-searched-for {
  display: inline-block;
  padding-right: 15px;
}